<footer class="foot">
    <div class="footboox0">
      <h1 class="bigfoot">Voyagez avec nous</h1>
      <a href="notready.html"  class="smallfoor">Destinations populaires en covoiturage</a>
      <a href="notready.html" class="smallfoor">Trajets populaires en covoiturage</a>
    </div>
    <div class="footboox1">
    <a href="notready.html" class="smallfoor">Information légale</a>
      <a href="notready.html" class="smallfoor">Information légale</a>
      <a href="notready.html" class="smallfoor">Information légale</a>
    </div>
    <div class="footboox2">
      <h1 class="bigfoot">Covoiturage</h1>
      <a href="notready.html" class="smallfoor">Destinations populaires en covoiturage</a>
      <a href="notready.html" class="smallfoor">Trajets populaires en covoiturage</a>
    </div>

     <div class="footboox3">
      <a href="https://twitter.com/ahmedramiK38823" >  <img src="pics/X.svg" class="footpic"></a>
      <a href="https://www.facebook.com/rami.kadache/?locale=fr_FR" ><img src="pics/fb.svg" class="footpic"></a>
      <a href="https://www.instagram.com/c4pinguin/" ><img src="pics/insta.svg" class="footpic"></a>
     </div>
  </footer>