<nav class="navbar">
    <ul>
      <a class="logo" href="../../home">
        <p>Fi Tri9i</p>  
        <img src="pics/car.svg" class="logo_img">
        </a>
  
        
        <a href="../../recherche/pass.html" class="pub">
        <img src="pics/rech.svg" class="plus">
        <li class="Publiertrajet">Recherche</li>
      </a>

       <!-- this place is important it change depending on the user-->
      <div class="auth">
        <p class="user-name" id="user-name">Kadache ahmed rami</p>
        <img src="pics/pfp.svg" class="pfp">
        <img src="pics/arrow.svg" class="arrow" id="arrow">
      </div>
    </ul>
     
    <div class="menu" id="menu"></div>

  </nav>